<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="" />
    <ion-card-content>
      <ion-card-title>
        
      </ion-card-title>
      <p>
        
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='heart'></ion-icon>
          Dar amors 
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Compartir
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>